.main h6{
  background-color: rgba(0, 56, 207, 0.43);
  color: rgba(0, 56, 207, 0.43);
  width: 80%;
  text-align: center;
  align-items: center;
  margin-left: 10vw;
  font-size: 0.5vw;
}
.topper{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 4vw;
  color: #000000;
}
.topper span{
  color: #A7BFFF;
}
/* Float four columns side by side */
.main{
    margin-left: 10vw;
    margin-right: 10vw;
    user-select: none;
}
.column {

  float: left;
  width: 33.33%;
  padding: 1vw 1vw;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
/* @media screen and (max-width: 900px) {
  .column {
    height: auto;
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* Style the counter cards */
.card {
  height: auto;
  /* width: 33.33vw; */
  box-shadow: 0 4px 8px 0 rgba(0, 56, 207, 0.43);
  padding: 2vw;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 2vw;
}
.card h2{
font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
}