.main{
  background-color: #FFFFFF;
}
.main div h1{
  font-size: 4vw;
  text-align: center;
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5vw;
}
.main div div p{
  font-size: 2rem;
    padding-bottom: 1vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
}

.main div div h4{
  font-size: 2rem;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: black;
    margin-bottom: 0vw;
}
.main div div h5{
  font-size: 2rem;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    color: black;
    margin-top: 0vw;
}
.title{
  font-size: 3vw;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
}
