
.main Image{
    position: absolute;
}

.text{
    position: absolute;
    padding-top: 13vw;
    padding-left: 32vw;
    padding-right: 32vw;
    text-align: center;
    color: #FFFFFF;
    font-size: 4vw;
    /* font-family: 'Jost'; */
        font-style: normal;
        font-weight: 700;
}
.line{
    position: absolute;
    color: #FFFFFF;
    padding-top: 37vw;
    padding-left: 25vw;
    padding-right: 25vw;
    font-size: 2vw;
    text-align: center;
        /* font-family: 'Jost'; */
            font-style: normal;
            font-weight: 500;
}
@media only screen and (max-width: 768px) {

    .text {
            position: absolute;
            padding-top: 5vw;
            padding-left: 27vw;
            padding-right: 25vw;
            text-align: center;
            color: #FFFFFF;
            font-size: 5vw;
            /* font-family: 'Jost'; */
            font-style: normal;
            font-weight: 700;
        }
        .line{
            padding-top: 32vw;

            padding-left: 10vw;
            padding-right: 10vw;
            font-size: 3vw;
        }
}